section {
  margin-bottom: 50px;
}

.wrapper {
  display: flex;
}

.about {
  margin-right: 25px;
  padding: 176px 30px 342px 25px;
  width: 100%;
  max-width: 460px;
}

h2 {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: $font-h2;
  line-height: 1.1;
  color: $green-100;
}

p {
  margin-bottom: 35px;
}

a {
  border: 1px solid $green-200;
  border-radius: $btn-border-radius;
  padding: 13px 45px 13px 25px;
  color: $green-300;
}

.info {
  display: flex;
  padding-top: 180px;
}

.litigation {
  padding: 60px 26px 342px 25px;
  width: 80px;
  font-size: 21px;
  color: $white;
  background-color: $green-300;
}

.capabilities {
  padding: 52px 40px 254px;
  width: 100%;
  max-width: 600px;
  background-color: $green-300;
}

h3 {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.32;
  letter-spacing: 0.56px;
  color: $white;
}

h4 {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25px;
  letter-spacing: 0.65px;
  text-transform: uppercase;
  color: $white;
}

ul {
  column-count: 2;
  column-gap: 60px;
  flex-direction: column;
  margin-bottom: 38px;
}

li {
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.13px;
  color: $white;
}

li:not(:last-child) {
  margin-bottom: 8px;
}

.link {
  position: relative;
  border: 1px solid $white;
  border-radius: 100px;
  padding: 13px 45px 13px 25px;
  color: $white;
}

span {
  display: block;
}

.intelligence,
.communications,
.risk {
  padding: 60px 25px 0;
  width: 80px;
  font-size: 21px;
}

.intelligence {
  margin-top: 120px;
  color: $white;
  background-color: $green-100;
}

.communications {
  margin-top: 60px;
  color: $green-300;
  background-color: $green-200;
}

.risk {
  color: $white;
  background-color: $grey;
}