<section>
  <div class="container">
    <div class="wrapper">

      <div class="about">

        <h2>
          All services
        </h2>
        <p>
          We are the only business in the world to deploy – under one roof – media experts, data protection lawyers,
          litigators, experts from military intelligence, investigative journalists, international investigators, cyber
          security specialists, digital forensic experts and senior people from the military, police and government.
        </p>

        <a href="#">
          Services
        </a>

      </div>

      <div class="info">

        <div class="litigation">
          Liti
          gat
          ion
          &
          Dis
          put
          es
        </div>

        <div class="capabilities">

          <h3>
            The go-to legal experts when your privacy, reputation or security are under attack.
          </h3>

          <h4>
            Capabilities
          </h4>

          <ul>
            <li>
              Anti-harassment & paparazzi deterrence
            </li>
            <li>
              Breach of confidence
            </li>
            <li>
              Breaches of Privacy & Injunctions
            </li>
            <li>
              Contractual disputes
            </li>
            <li>
              Data Protection & GDPR
            </li>
            <li>
              Defamation & libel
            </li>
            <li>
              Employment Litigation
            </li>
            <li>
              Intellectual property & copyright
            </li>
            <li>
              Misuse of data
            </li>
            <li>
              Regulatory Complaints & Arbitration
            </li>
          </ul>

          <a class="link" href="#">
            Read more
          </a>

        </div>

      </div>

      <div class="intelligence">
        Int
        elli
        ge
        nc
        e &
        Inv
        est
        iga
        tio
        ns
      </div>

      <div class="communications">
        Dig
        ital
        Co
        m
        mu
        nic
        ati
        on
        s
      </div>

      <div class="risk">
        Cri
        tic
        al
        Ri
        sk,
        Se
        cu
        rit
        y &
        Ad
        vis
        or
        y
      </div>

    </div>
  </div>
</section>
