<section class="services">
  <div class="container">
    <div class="services__wrapper">

      <div class="services__info">
        <h2 class="services__title">
          All services
        </h2>
        <p class="services__text">
          We are the only business in the world to deploy – under one roof – media experts, data protection lawyers,
          litigators, experts from military intelligence, investigative journalists, international investigators, cyber
          security specialists, digital forensic experts and senior people from the military, police and government.
        </p>
        <a class="services__btn" href="#">
          Services
        </a>
      </div>

      <div class="services__box">
        <div class="services__box-left">
          Liti
          gat
          ion
          &
          Dis
          put
          es
        </div>

        <div class="services__legal">

          <h3 class="services__legal-title">
            The go-to legal experts when your privacy, reputation or security are under attack.
          </h3>

          <h4 class="services__legal-subtitle">
            Capabilities
          </h4>

          <ul class="services__list">
            <li class="services__item">
              Anti-harassment & paparazzi deterrence
            </li>
            <li class="services__item">
              Breach of confidence
            </li>
            <li class="services__item">
              Breaches of Privacy & Injunctions
            </li>
            <li class="services__item">
              Contractual disputes
            </li>
            <li class="services__item">
              Data Protection & GDPR
            </li>
            <li class="services__item">
              Defamation & libel
            </li>
            <li class="services__item">
              Employment Litigation
            </li>
            <li class="services__item">
              Intellectual property & copyright
            </li>
            <li class="services__item">
              Misuse of data
            </li>
            <li class="services__item">
              Regulatory Complaints & Arbitration
            </li>
          </ul>

          <a class="services__legal-btn" href="#">
            Read more
          </a>

        </div>

      </div>


      <div class="services__intelligence">
        Int
        elli
        ge
        nc
        e &
        Inv
        est
        iga
        tio
        ns
      </div>

      <div class="services__communications">
        Dig
        ital
        Co
        m
        mu
        nic
        ati
        on
        s
      </div>

      <div class="services__risk">
        Cri
        tic
        al
        Ri
        sk,
        Se
        cu
        rit
        y &
        Ad
        vis
        or
        y
      </div>




    </div>
  </div>
</section>
