<section>
  <div class="container">
    <div class="wrapper">

      <div class="about">

        <h2>
          All services
        </h2>
        <p>
          We are the only business in the world to deploy – under one roof – media experts, data protection lawyers,
          litigators, experts from military intelligence, investigative journalists, international investigators, cyber
          security specialists, digital forensic experts and senior people from the military, police and government.
        </p>

        <a href="#">
          Services
        </a>

      </div>

      <div class="info">

        <div class="litigation">
          <span>Liti</span> <span>gat</span> <span>ion</span> <span>&</span> <span>Dis</span> <span>put</span>
          <span>es</span>
        </div>

        <div class="capabilities">

          <h3>
            The go-to legal experts when your privacy, reputation or security are under attack.
          </h3>

          <h4>
            Capabilities
          </h4>

          <ul>
            <li>
              Anti-harassment & paparazzi deterrence
            </li>
            <li>
              Breach of confidence
            </li>
            <li>
              Breaches of Privacy & Injunctions
            </li>
            <li>
              Contractual disputes
            </li>
            <li>
              Data Protection & GDPR
            </li>
            <li>
              Defamation & libel
            </li>
            <li>
              Employment Litigation
            </li>
            <li>
              Intellectual property & copyright
            </li>
            <li>
              Misuse of data
            </li>
            <li>
              Regulatory Complaints & Arbitration
            </li>
          </ul>

          <a class="link" href="#">
            Read more
          </a>

        </div>

      </div>

      <div class="intelligence">
        <span>Int</span> <span>elli</span> <span>ge</span> <span>nc</span> <span>e &</span> <span>Inv</span>
        <span>est</span> <span>iga</span> <span>tio</span> <span>ns</span>
      </div>

      <div class="communications">
        <span>Dig</span> <span>ital</span> <span>Co</span> <span>m</span> <span>mu</span> <span>nic</span>
        <span>ati</span> <span>on</span> <span>s</span>
      </div>

      <div class="risk">
        <span>Cri</span> <span>tic</span> <span>al</span> <span>Ri</span> <span>sk,</span> <span>Se</span>
        <span>cu</span> <span>rit</span> <span>y &</span> <span>Ad</span> <span>vis</span> <span>or</span>
        <span>y</span>
      </div>

    </div>
  </div>
</section>
